html,
body {
  background-image: -webkit-linear-gradient(
    -50deg,
    rgb(7, 7, 14) 50%,
    rgb(20, 19, 51)
  );
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  min-height: 200vh;
}

.bx{cursor: pointer;}

.text {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* ///////////////// Fullpage ////////////////// */

.fullPage {
  display: flex;
}

/* ///////////////// Sidebar ////////////////// */

.sidebar {
position: fixed;
opacity: 1;
  min-height: 100vh;
  width: 250px;
  transition: 0.3s;
  background-color:rgb(10, 10, 25);

}

.sidebar.close {
  width: 0px;
  opacity: 0;
  transition: 0.3s;
}

/* //// NavBar //// */

.navbox {
  padding: 10px 8px 0px 5px;
  transition: .3s;
}

.navitem {
  border-radius: 6px;
  height: 45px;
  margin-bottom: 3px;
  align-content: center;
  font-size: 16px;
  transition: .3s;
}
.navitem a
{
  pointer-events: none;
}
.bx-plus-circle:hover
{
text-shadow:0px 0px 10px rgb(255, 255, 255) ;
}

.Addtask
{
  display: flex;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  align-items: center;
  margin-bottom: 5px;
  color: rgba(201, 230, 255, 0.752);
  border-radius: 5px;
}


/* /////////////////// Project /////////////////// */

#InputProject
{
color: aliceblue;
border: 0px;
height:35px;
padding-left: 10px;
margin-left: 5px;
width: 215px;
outline: none;
background-color: rgba(63, 70, 200, 0.279);
border-radius: 5px;
}

.inputproject.openproject
{
  height: 90px;
  transition: .3s;
}
.inputproject
{
  border-radius: 6px;
  height: 46px;
  margin-bottom: 3px;
  font-size: 14px;
  transition: .3s;
}
.Addtask .bx
{
  margin-right: 15px;
}
.Addtask a
{
  align-content: center;
  height: 100%;
  width: 190px;
  margin-right: auto;
}

.projects
{
  display: flex;
  border-radius: 6px;
  height: 30px;
  margin: 5px;
  align-content: center;
  font-size: 13px;
  transition: .3s;
}
.projects:hover
{
  background-color: rgba(99, 130, 255, 0.578);
}
.projects a
{
  align-content: center;
  min-width:160px;
  height: 35px;
}

.projects i
{
  margin-left: auto;
  margin-right: 5px;
  border-radius: 5px;
  align-content: center;
  opacity: 0;
  padding: 8px;
  color: rgba(255, 69, 69, 0.711);
}

.projects i:hover
{
 text-shadow:0px 0px 15px rgb(255, 0, 0);
  transition:.2s;
}


.projects:hover i
{
opacity: 1;
transition: .4s;
}

.projectbox{
  padding: 5px;
  cursor: pointer;
}
.navitem:hover,.Addtask:hover
{
  background-color: rgba(24, 36, 95, 0.367);
  cursor: pointer;
  transform: .2;
}
.profile {
  font-size: 18px;
  margin-bottom: 25px;
}

a {
  color: rgba(201, 230, 255, 0.752);
  text-decoration: none;
  padding-left: 10px;
}

/* ///////////////// Main ////////////////// */
#ProjectHeading
{
  font-size: 25px;
  font-weight: 600;
  padding-left: 25px;
  margin: 0px;
}
.projectBox
{
width: 800px;
margin-bottom: 250px;
}
.changeMainBody
{
  margin-left: 250px;
  transition: .3s;
}

.mainBody {
  min-height: 100vh;
  flex-grow: 1;
  transition: .3s;
}
.heading {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-right: 12px;
  margin-bottom: 40px;

}
.head {
  margin: 5px;
  margin-bottom: 20px;
  font-size: 40px;
}
/* ///////////////// Sections ////////////////// */

.addSections
{
  margin-top:20px ;
  display: flex;
  width: 580px;
  height: 30px;
  margin-left: 72px;
  border-radius: 7px; 
  box-shadow:inset 0px -3px 3px rgba(197, 197, 255, 0.029);
  align-items: center;
}
.addSections .bx{
color: rgba(208, 233, 255, 0.482) ;
padding-right: 8px;
font-size: 15px;
}
#InputSection
{
 color: rgb(208, 233, 255);
 height: 35px;
 width: 550px;
 background-color: transparent;
 border:0px ;
 letter-spacing: 2px;
 outline: none;
 padding-left: 10px;
 background-color: rgba(4, 4, 30, 0.048);
}

/* ///////////////// inputbox ////////////////// */

.inputform
{
  display: flex;
  flex-direction: column;
  width:558px;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 3px rgb(91, 100, 137);
  background-color: rgb(1, 2, 11);
  margin-bottom: 25px;
}
.inputbox::placeholder
{
  letter-spacing: 2px;
  color: rgba(240, 248, 255, 0.196);
}

#title
{
  color: rgb(208, 233, 255);
  height: 20px;
  font-size: 14px;
  padding: 8px;
  font-weight: 400;
  letter-spacing: 1px;
  flex-grow: 1;
  border-width: 0px;
  border-color: rgba(205, 231, 254, 0.521);
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  background-color: rgba(0, 0, 0, 0);
  
}
#description
{
  color: rgb(156, 186, 213);
  width: 514px;
  overflow-y: hidden;
  box-sizing: border-box;
  min-height:68px;
  font-size:11px;
  letter-spacing: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius:0px;
  padding:8px ;
  border: 0px;
  resize: none;
  background-color: rgba(0, 0, 0, 0);

}
.inputbox
{
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.015);
 
}
.inputbox:focus
{
  
    outline: none;
}

.des-box
{
  background-color: rgba(0, 0, 0, 0); 
}
.addbtn
{
  position: relative;
  top: 18px;
  padding-top: 5px;
  border-radius: 50%;
  font-size: 20px;
  height: 35px;
  width:35px;
  background-color:rgb(25, 27, 38);
  color: rgb(124, 157, 186);
}




/* ///////////////// taskList ////////////////// */
.TaskBox
{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows: 100px;
  grid-gap: 5px;
  width: 560px;
  padding: 5px;
  color:rgb(172, 178, 212);
  margin: 6px;
}
.tasknote
{ 
  /* padding: 5px; */
  width: 100%;
  border-radius: 7px;
  height: 100%;
  background-image: -webkit-linear-gradient(
    -50deg,
    rgba(64, 64, 125, 0.232) 50%,
    rgba(20, 20, 45, 0.563)
  );
}
.tasknote:hover
{
  background-color:rgba(76, 83, 114, 0.527) ;
  cursor: pointer;
  transition: 0.3s;
}
.tasktitle
{
  color: rgba(233, 236, 255, 0.922);
  font-size: 15px;
  font-weight: 300;
  padding: 4px;
  margin: 5px;
  margin-bottom: 0px;
  pointer-events: none;
}
.taskdecs
{
  color: rgba(173, 180, 216, 0.752);
  font-size: 13px;
  padding: 4px;
  margin: 5px;
  margin-top: 0px;
  pointer-events: none;
}

/* ///////////////// Buttons ////////////////// */

.btn {
  color: aliceblue;
  border-width: 0px;
  background-color: #43698e00;
}
i:hover {
  text-shadow: 0px 1px 10xp white;
  transition: 0.3s;
}

.menubtn {
  align-content: center;
  font-size: 23px;
  padding: 8px;
  padding-top: 13px;
  padding-left: 0px;
  border-radius: 7px;
}
.menubtn:hover
{
  text-shadow: 0px 0px 10px rgb(184, 180, 255);
  transition: .2s
}
.viewOptions
{
  position: absolute;
  background-image: -webkit-linear-gradient(-30deg,rgb(23, 23, 42) 10%,rgb(9, 9, 21));
  height:fit-content;
  width: 180px;
  right: 1%;
  top: 58px;
  border-radius: 7px;
  padding: 5px;
}
.viewOptions .sideboxOptions
{
  padding: 5px 7px;
}

/* ////////////////// Edit Box //////////////////// */
.bigbox
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  box-shadow: inset 0px -3px 3px rgba(183, 172, 255, 0.578);
  background-color: rgba(22, 23, 48, 0.193);
}

.sidebox
{
  position: absolute;
  z-index: 100;
  margin: 40px;
  padding: 0px;
  min-height: 0px;
  margin-top: 5px;
  min-width:0px;
  background-image: -webkit-linear-gradient(-30deg,rgb(23, 23, 42) 10%,rgb(9, 9, 21));
  box-shadow: 0px 0px 20px black;
  border-radius: 8px;
  transition: .2s;
}
.sideboxOpen
{
  padding: 8px!important;
  min-width: 200px!important;
  min-height: 65px !important;
  transition: .2s!important;
}
.sideboxOptions
{
  border-radius: 5px;
  color: rgba(200, 229, 255, 0.873);
  margin: 0px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
.delete
{
  color: rgba(225, 2, 2, 0.775)!important;
  font-weight: 300;
  display:flex;
}
.delete:hover
{
  background-color: rgba(255, 0, 0, 0.1)!important;
}
.delete .bx
{
  margin-left: auto;
}

.sideboxOptions:hover
{
background-color: rgba(0, 255, 255, 0.093);
}
.editform
{
  background-image: -webkit-linear-gradient(-30deg,rgba(19, 19, 34, 0.477) 10%,rgba(5, 5, 11, 0.334));
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  align-items: center;
}
.edit-content
{
  color: rgb(156, 186, 213);
  overflow-y: hidden;
  width: 236px;
  box-sizing: border-box;
  min-height:200px;
  height: auto;
  font-size:12px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius:7px;
  padding:8px ;
  border-width: 4px 0px 0px 0px;
  border-color: rgba(240, 248, 255, 0.041);
  resize: none;
  background-color: rgba(0, 0, 0, 0);

}
.edit-title
{
  color: rgb(208, 233, 255);
  height: 20px;
  font-size: 16px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 220px;
  border: 0px;
  border-color: rgba(205, 231, 254, 0.521);
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  background-color: rgba(0, 0, 0, 0);
  
}
.editbtn
{
  align-self: flex-end;
  margin: 10px;
  margin-top: 20px;
  height: 30px;
  width:60px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
  color: rgba(96, 151, 179, 0.815);
  background-color: rgba(32, 32, 61, 0.314);
}
.edit.inputbox::placeholder
{
  color: rgba(119, 255, 255, 0.286);
}
.editbtn:hover
{

  background-color: rgba(71, 71, 144, 0.314);
  box-shadow: 0px 0px 5px rgba(152, 194, 214, 0.777);
  cursor: pointer;
}

/* /////////////////// Section /////////////////// */
.sectionBox
{
  display: flex;
  flex-direction:column;
  margin-left: 65px;
  width:600px;
 align-items: center;
 margin-top: 20px;
}
.Editsection
{
  display: flex;
  width: 590px;
  height: 40px;
  background-color: rgba(36, 42, 86, 0.226);
  box-shadow:inset 0px -2px 3px rgba(139, 154, 255, 0.31);
  color: rgba(194, 226, 255, 0.773);
  align-items: center;
  border-radius: 7px;
}
.EditsectionName
{
border-radius: 5px;
font-size: 15px;
font-weight: 300;
border: 0px;
padding: 3px;
background-color: rgba(0, 0, 0, 0);
align-content: center;
min-width:fit-content;
}
.EditsectionName:focus
{
  outline-style:solid;
  outline-color:rgba(73, 68, 125, 0.484) ;
}

.Editsection .bx
{
  padding: 8px;
}
.Editsection .bx-dots-horizontal-rounded
{

 padding-right: 15px;
 font-size: 20px;
}
.Editsection .bx:hover
{
  text-shadow: 0px 0px 8px rgb(196, 237, 255);
}
.taskNumber
{
  font-size: 12px;
  margin-left: auto;
  color: rgba(173, 217, 255, 0.37);
}

.sectionEditBox
{
  position: absolute;
  z-index: 100;
  margin: 40px;
  padding: 0px;
  min-height: 0px;
  margin-top: 5px;
  min-width:0px;
  background-image: -webkit-linear-gradient(-30deg,rgb(23, 23, 42) 10%,rgb(9, 9, 21));
  box-shadow: 0px 0px 20px black;
  border-radius: 8px;
  transition: .2s;
}

.sectionEditOption
{
  border-radius: 5px;
  color: rgba(200, 229, 255, 0.873);
  margin: 0px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
.sectionEditOption:hover
{
  background-color: rgba(0, 255, 255, 0.082);
}
