html,
body {
  background-image: -webkit-linear-gradient(
    -50deg,
    rgb(7, 7, 14) 50%,
    rgb(11, 10, 43)
  );
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  min-height: 100%;
}

.text {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* ///////////////// Fullpage ////////////////// */

.fullPage {
  display: flex;
}

/* ///////////////// Sidebar ////////////////// */

.sidebar {
position: fixed;
  min-height: 100vh;
  width: 0%;
  transition: 0.3s;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(8, 8, 22) 40%,
    rgba(8, 8, 48, 0.701)
  );
}

.sidebar.active {
  width: 16%;
  transition: 0.3s;
}

/* //// NavBar //// */

.navbox {
  padding: 10px 8px 0px 5px;
}

.navitem {
  border-radius: 6px;
  height: 45px;
  margin-bottom: 3px;
  align-content: center;
  font-size: 14px;
  background-color: rgba(10, 30, 50, 0.21);
}
.profile {
  font-size: 18px;
  margin-bottom: 25px;
}

.navitem a {
  color: rgba(201, 230, 255, 0.752);
  text-decoration: none;
  padding-left: 10px;
}

/* ///////////////// Main ////////////////// */
.changeMainBody
{
  margin-left: 16%;
  transition: .3s;
}

.mainBody {
  min-height: 100vh;
  flex-grow: 1;
  transition: .3s;
}
.heading {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-right: 12px;
}
.head {
  margin: 5px;
  margin-bottom: 20px;
  font-size: 40px;
}
/* ///////////////// inputbox ////////////////// */

.inputform
{
  display: flex;
  flex-direction: column;
  width:600px;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px rgb(91, 100, 137);
  margin-bottom: 100px;
}
.inputbox::placeholder
{
  letter-spacing: 2px;
  color: rgba(240, 248, 255, 0.196);
}

#title
{
  color: rgb(208, 233, 255);
  height: 30px;
  font-size: 16px;
  padding: 8px;
  font-weight: 400;
  letter-spacing: 1px;
  flex-grow: 1;
  border-width: 0px;
  border-color: rgba(205, 231, 254, 0.521);
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  background-color: rgba(0, 0, 0, 0.015);
  
}
#description
{
  color: rgb(156, 186, 213);
  width: 564px;
  overflow-y: hidden;
  box-sizing: border-box;
  min-height:68px;
  font-size:12px;
  letter-spacing: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius:0px;
  padding:8px ;
  border: 0px;
  resize: none;
  background-color: rgba(0, 0, 0, 0);

}
.inputbox
{
  border-radius: 7px;
  background-color: rgba(202, 202, 255, 0.015);
 
}
.inputbox:focus
{
  
    outline: none;
}

.des-box
{
  background-color: rgba(0, 0, 0, 0); 
}
.addbtn
{
  position: relative;
  top: 18px;
  padding-top: 5px;
  border-radius: 50%;
  font-size: 20px;
  height: 35px;
  width:35px;
  background-color:rgb(25, 27, 38);
  color: rgb(124, 157, 186);
}




/* ///////////////// taskList ////////////////// */
.TaskBox
{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows: 100px;
  grid-gap: 5px;
  width: 600px;
  color:rgb(172, 178, 212);
  padding: 5px;
}
.tasknote
{ width: 100%;
  border-radius: 7px;
  height: 100%;
  background-image: -webkit-linear-gradient(
    -50deg,
    rgba(64, 64, 125, 0.232) 50%,
    rgba(20, 20, 45, 0.563)
  );
}
.tasknote:hover
{
  background-color:rgba(76, 83, 114, 0.527) ;
  cursor: pointer;
  transition: 0.3s;
}
.tasktitle
{
  color: rgba(233, 236, 255, 0.922);
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
  pointer-events: none;
}
.taskdecs
{
  color: rgba(173, 180, 216, 0.752);
  font-size: 13px;
  padding: 4px;
  pointer-events: none;
}

/* ///////////////// Buttons ////////////////// */

.btn {
  color: aliceblue;
  border-width: 0px;
  background-color: #43698e00;
}
i:hover {
  text-shadow: 0px 1px 10xp white;
  transition: 0.3s;
}

.menubtn {
  align-content: center;
  font-size: 23px;
  padding: 8px;
  padding-top: 13px;
  padding-left: 0px;
}

.viewbtn {
  margin-left: auto;
  font-size: 15px;
  height: 30px;
  padding-right: 20px;
}


/* ////////////////// Edit Box //////////////////// */
.bigbox
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding-right: 250px ;
  padding-bottom: 340px;
  margin-left: 60px;
}

.sidebox
{
  position: absolute;
  z-index: 100;
  margin: 40px;
  padding: 0px;
  min-height: 0px;
  margin-top: 5px;
  min-width:0px;
  background-image: -webkit-linear-gradient(-30deg,rgb(23, 23, 42) 10%,rgb(9, 9, 21));
  box-shadow: 0px 0px 30px black;
  border-radius: 8px;
  transition: .2s;
}
.sidebox.sideboxOpen
{
  padding: 8px;
  min-width: 250px;
  min-height: 65px ;
  transition: .2s;
}
.sideboxOptions
{
  border-radius: 5px;
  color: rgba(200, 229, 255, 0.873);
  margin: 0px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
.sideboxOptions.delete
{
  color: rgba(225, 2, 2, 0.845);
  font-weight: 300;
}
.sideboxOptions.delete:hover
{
  background-color: rgba(255, 0, 0, 0.033);
}
.sideboxOptions.delete .bx
{
  padding-left: 70%;
}

.sideboxOptions:hover
{
background-color: rgba(0, 255, 255, 0.047);
}
.editform
{
  background-image: -webkit-linear-gradient(-30deg,rgba(19, 19, 34, 0.477) 10%,rgba(5, 5, 11, 0.334));
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  align-items: center;
}
.edit-content
{
  color: rgb(156, 186, 213);
  overflow-y: hidden;
  width: 236px;
  box-sizing: border-box;
  min-height:200px;
  height: auto;
  font-size:12px;
  letter-spacing: 1px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius:7px;
  padding:8px ;
  border-width: 4px 0px 0px 0px;
  border-color: rgba(240, 248, 255, 0.041);
  resize: none;
  background-color: rgba(0, 0, 0, 0);

}
.edit-title
{
  color: rgb(208, 233, 255);
  height: 20px;
  font-size: 16px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 220px;
  border: 0px;
  border-color: rgba(205, 231, 254, 0.521);
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  background-color: rgba(0, 0, 0, 0);
  
}
.editbtn
{
  align-self: flex-end;
  margin: 10px;
  margin-top: 20px;
  height: 30px;
  width:60px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
  color: rgba(96, 151, 179, 0.815);
  background-color: rgba(32, 32, 61, 0.314);
}
.edit.inputbox::placeholder
{
  color: rgba(119, 255, 255, 0.286);
}
.editbtn:hover
{

  background-color: rgba(71, 71, 144, 0.314);
  box-shadow: 0px 0px 5px rgba(152, 194, 214, 0.777);
  cursor: pointer;
}